.container {
  margin-top: 5%;
}

  #game-grid {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0.75%;
    padding-bottom: 100%;
    background-color: #72B7E1;
  }

    .tile {
      float: left;
      position: relative;
      background-color: #B5D9FE;
      border-radius: 5px;
      margin: 1%;
      height: 5vw;
      width: 23%;
      padding-bottom: 23%;
      text-align: center;
      font-size: 4em;
    }

    #legend-title {
      width: 100%;
      text-align: center;
      font-size: 1.5em;
    }

    #tile-legend {
      border: 2px solid black;
      height: 100%;
      width: 33%;
      margin: 0 auto;
    }

      .legend-logo {
        height: 50px;
        width: 50px;
        margin: 5% auto;
        text-align: center;
        font-size: 3em;
      }

/* tile colors */
.two {
  background-color: white;
  background-image: url("../logos/css3_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.four {
  background-color: white;
  background-image: url("../logos/html5_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.eight {
  background-color: white;
  background-image: url("../logos/javascript_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.sixteen {
  background-color: white;
  background-image: url("../logos/jquery_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.thirty-two {
  background-color: white;
  background-image: url("../logos/ruby_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.sixty-four {
  background-color: white;
  background-image: url("../logos/rails_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.one-twenty-eight {
  background-color: white;
  background-image: url("../logos/git_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.two-fifty-six {
  background-color: white;
  background-image: url("../logos/postgresql_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.five-twelve {
  background-color: white;
  background-image: url("../logos/agile_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.ten-twenty-four {
  background-color: white;
  background-image: url("../logos/heroku_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.twenty-forty-eight {
  background-color: white;
  background-image: url("../logos/google_logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}
